<h2>{{ pageTitle }}</h2>
 
<div>
  <table  class="table table-striped">
    <thead>
      <th scope = "col">Index</th>
      <th scope = "col">Todo</th>
      <th scope = "col">Prio</th>
    </thead>
    <tbody>
      <tr *ngFor = "let todo of todo; let i = index">
        <td scope = "row">{{ i + 1 }}</td> <!--> let index start at 1 <-->
        <td (click)="toggleDone(i)" [ngClass]="todo.done ? 'strikethrough' : 'null'">{{ todo.content }}</td>
        <td>{{ todo.prio }}</td>
        <button type="button" class="btn btn-outline-secondary" (click)="removeTodo(i)">remove</button>
      </tr>
    </tbody>
  </table>
</div>