<h2>{{ pageTitle }}</h2>

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <input type="text" name="content" ngModel>
  <input type="text" name="prio" ngModel>
  <button class="btn btn-outline-secondary">Submit</button>
</form>
 
<div>
  <table  class="table table-striped">
    <thead>
      <th scope = "col">Todo</th>
      <th scope = "col">Prio</th>
    </thead>
    <tbody>
      <tr *ngFor = "let todo of todo; let i = index">
        <td (click)="toggleDone(todo.index)" [ngClass]="todo.done ? 'strikethrough' : 'null'">{{ todo.content }}</td>
        <td>{{ todo.prio }}</td>
        <button type="button" class="btn btn-outline-secondary" (click)="removeTodo(todo.index)">remove</button>
      </tr>
    </tbody>
  </table>
</div>